body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.big{
    background: url(images/image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}
.top{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(37, 35, 35, 0.6);
    border-bottom: 1px solid #fff;
    
}
.logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color:sandybrown;
    border-bottom: 5px
}


ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
}
.services{
    margin-top: ;
}


ul li a:hover{
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
   
}
.info{
    padding: 30px;
    opacity: 0.9;
    width: 1500px;


}
 
.info h2{
    text-align: justify;
    font-size: 42px;
    color: white;
    margin-right: 700px;
    border-top: 100px;
    display: inline-block;
    margin-block: 400px;
    
}
 button{
     border: none;
     font-size: 16px;
     background-color:rgb(245, 153, 72);
     padding: 30px;
     display: inline-block;
 }
 